/* .App {
  text-align: center;
} */

body {font-family: Arial, Helvetica, sans-serif;}

      
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: #666;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        li  {
            display: block;
            color: #666;
            text-align: center;
           text-decoration: none;
          }
        
        li a:hover:not(.active) {
          background-color: #ddd;
        }
        li:hover:not(.active) {
            background-color: #ddd;
        }

        .nav-link:hover{
          color:black
        }
        
        li a.active {
          color: black;
          background-color: #4CAF50;
        }
        li.active {
            color: black;
            background-color: #4CAF50;
          }

          /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
          span.fpwd {
            display: block;
            float: none;
          }
         
        }

       .title{
         margin-left:30%
       }
        .c1{
            width:30%;
            padding:3% 3% 0% 3%;
            border: 3px solid #f1f1f1;
            margin: 6% 30% 0 35%;
        }

        @media screen and (max-width:700px){
          .c1{
            width:50%;
          }
        }

        @media screen and (max-width:400px){
          .c1{
            width:60%;
          }
        }

        .cr{
          width:30%;
          padding:3% 3% 0% 3%;
          border: 3px solid #f1f1f1;
          margin: 6% 30% 0 35%;
      }

      @media screen and (max-width:900px){
        .cr{
          width:50%;
        }
      }

      @media screen and (max-width:700px){
        .cr{
          width:60%;
        }
      }

      @media screen and (max-width:500px){
        .cr{
          width:75%;
        }
      }
        
        .he1{
            text-align: center;
            color: #362F4B;
        }
        input[type=text], input[type=password], input[type=email], input[type=date], input[type=number] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }
        
        .l1 {
          background-color: #4CAF50;
          color: white;
          padding: 14px 18px;
          margin: 8px 0 8px 30%;
          border: none;
          cursor: pointer;
          width: 40%;
        }
        
        button:hover {
          opacity: 0.8;
        }
        
        .cancelbtn {
          width: auto;
          padding: 10px 18px;
          background-color: #f44336;
        }

        .inp{
            width: 10%;
        }
        
        .f1 {
          padding: 16px;
        }
        
        .fpwd {
          float: right;
          margin-top:-10px;
          /* padding: 30px; */
        }
    /*homepage*/
    .sidebar {
      margin: 0;
      padding: 0;
      width: 12%;
      background-color: #404040;
      position: fixed;
      height: 100%;
      overflow: auto;
      margin-top: 4%;
    }
    
    .sidebar a {
      display: flex;
      color: black;
      padding: 10px;
      text-decoration: none;
    }
     
    .sidebar p {
        display: flex;
        color: white;
        padding: 16px;
        margin: 0px;
        text-decoration: none;
      }
     
    .sidebar a.active {
      background-color: #4CAF50;
      color: white;
    }

    .sidebar p.active {
        background-color: #4CAF50;
        color: black;
      }
      
    
    .sidebar a:hover:not(.active) {
      background-color: #555;
      color: white;
    }

    .sidebar p:hover:not(.active) {
        background-color: #555;
        color: white;
      }

      @media screen and (max-width:500px){
        .sidebar{
          border-top: 30px;
          width: 15%;
        }

      }

      /* @media screen and (max-width:900px){
        .sidebar{
          border-top: 30px;
          width: 25%;
        }

      } */

      @media screen and (max-width:500px){
        .navbar{
          height:6%;
        }

      }
  
    /* Product details page */

    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even){background-color: #f2f2f2}
    
    th {
      background-color: #362F4B;
      color: white;
    }

    .b1{
      background-color: #4CAF51;
      border:0;
      border-radius: 10%;
      padding: 5px;
      width:70px;
      color:white;
      cursor: pointer;
    }

    .addB{
      background-color: #4CAF51;
      border:0;
      border-radius: 10%;
      padding: 10px;
      float:right;
      color:white;
      cursor: pointer;
      margin-right: 1%;
    }

    .d1{
      margin:20px
    }

    .search{
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: 1px solid gray;
      border-radius: 25px;

    }

    /* Add products page */

    .c2{
      width:45%;
      padding:3%;
      /* border: 3px solid #f1f1f1; */
      margin: 30px 0 0 25%;
      columns: 2;
    }

    @media screen and (max-width:500px){
      .c2{
        width:90%;
      }
    }

    @media screen and (max-width:900px){
      .c2{
        width:80%;
      }
    }


    /* grid view*/

    .cards { display: grid; grid-template-columns:
      repeat(3,
      1fr); grid-auto-rows:
      auto; grid-gap:
      1rem; 
    margin-top: 1%;} 

      @media screen and (max-width:900px){
        .cards { display: grid; grid-template-columns:
          repeat(2,
          1fr); grid-auto-rows:
          auto; grid-gap:
          1rem; } 
      }

      @media screen and (max-width:360px){
        .cards { display: grid; grid-template-columns:
          repeat(1,
          1fr); grid-auto-rows:
          auto; grid-gap:
          1rem; } 
      }

    /* .inventoryHeader{
      position: fixed;
      width: 100%;
      height: 400px;
    } */

    @media screen and (max-width:500px){
      .dashboard{
        width:73%
      }
    }

    @media screen and (max-width:800px){
      .dashboard{
        width:70%
      }
    }

    .footer{
      background-color: black;
      color:gray;
      text-align: center;
      padding: 15px;
      height: 20%;
      position: sticky;
    }

    .scroll{
      position: "fixed";
      overflow: "hide";
      overflow-y: "scroll";
    }